body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo-circle {
    border-radius: 50%;
    width: 60px;
    border: solid 4px #3b2d26;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    color: #F9FAF8;
    /* color: green; */
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 152px;
    text-wrap: wrap;
    /* background-color: green; */
}



.header {
    background-color: #1f2937;
    color: white;
    padding: 15px;
    

}


.bottom {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0;
}

.hero {
    font-size: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tag {
    font-style: italic;
    
}